<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top flex-column pb-0 position-relative">
      <div class="d-flex w-100 position-absolute bottom-0">
        <div class="w-50 border border-1 border-success bg-success"></div>
        <div class="w-50 border border-1 border-info bg-info"></div>
      </div>
      <div class="container">
        <a href="" class="navbar-brand"><img src="./assets/images/logo.svg" alt="logo" height="42"></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#toggler"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-end" id="toggler">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="w-md-auto w-100 text-center nav-link text-white p-md-1-5">首頁</a></li>
            <li class="nav-item"><a href="./lesson.html" class="w-md-auto w-100 text-center nav-link text-white p-md-1-5">課程介紹</a></li>
            <li class="nav-item"><a href="" class="w-md-auto w-100 text-center nav-link text-white p-md-1-5"><span class="material-icons align-middle me-0-375">account_circle</span>登入</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="footer py-2 bg-third">
      <p class="text-center text-normal m-0">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script>        
      var mySwiper = new Swiper ('.swiper1', {
        slidesPerView: "auto",
        spaceBetween: 16,
        mousewheel: true,
      })        
      var mySwiper2 = new Swiper ('.swiper2', {
        mousewheel: true,

        // 如果需要分页器
        pagination: {
          el: '.swiper-pagination',
          bulletClass: 'my-bullet',
          bulletActiveClass: 'my-bullet-active',
        },
        
        // 如果需要前进后退按钮
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      })        
      </script>
  </body>

</html>