.title-line{
    border: 1.5px solid $success;
    background: $success;
    width: 50px;
    @each $key, $value in $theme-colors{
        &-#{$key}{
            border-color: $value;
            background-color: $value;
        }
    }
}

.hover{
    transition: all 0.25s ease;
    &.hover-border{
        @each $key, $value in $theme-colors{
            &-#{$key}{
                @include media-breakpoint-up(md){
                    border-color: transparent;
                    &:hover{
                        border-color: $value !important; 
                    }
                }
            }
        }
    }
    @include media-breakpoint-up(md){
        border-color: transparent !important;
        &:hover{
            & .hover{
                &-item{
                    transition: all 0.25s ease;
                }
                &-opacity{
                    opacity: 100%;
                }
                &-gradient{
                    @include color-gradient-y();
                }
                &-none{
                    display: none;
                }
                &-show{
                    display: block;
                }
                @each $key, $value in $theme-colors{
                    &-text-#{$key}{
                        color: $value !important;
                    }
                    &-bg-#{$key}{
                        background-color: $value !important;
                    }
                    &-border-#{$key}{
                        border-color: $value!important;
                    }
                }
            }
        }
    }
}
   